#cytoscape_container {
  height: 525px;
  width: 1125px;
}

.spinner {
  border: 16px solid #AAAAAA;
  border-top: 16px solid #5C5C5C;
  border-radius: 50%;
  position: relative;
  left: 40%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
